# CODEOWNERS file
# Each line represents a rule where the last matching pattern takes precedence.
# More information: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/src/Chronos.Data/ @aaron-iz
/src/Chronos.MainApi/Auth/ @aaron-iz
/src/Chronos.MainApi/Management/ @aaron-iz

/src/Chronos.MainApi/Resources/ @ShalevKk

/src/Chronos.MainApi/Schedule/ @adamrammal

/src/Chronos.Domain/ @aaron-iz @noamarg
